<%- include("code/head", {title, $t}) %>
<body>
    <script>
        let api = 'http://localhost:2735/';
        let reloadModal = false;
        let $t = JSON.parse('<%-JSON.stringify($t)%>');
        let activeComponent = '';
        let pointerX = 0;
        let pointerY = 0;
        let selectDate = false;
    </script>
    <link rel="stylesheet" type="text/css" href="css/task.css">
    <link rel="stylesheet" type="text/css" href="css/modal.css">
    <%- include("code/appbar", { title, $t }) %>
    <%- include("code/modal") %>
    <div id="task-task-container">
        <a href="/<%=route%>"><i my-title="<%=$t.words.back%>" class="fa fa-arrow-left" id="task-back"></i></a>
        <a href="/new?editing=<%=id%>"><i my-title="<%=$t.words.edit%>" class="fa fa-edit" id="edit-task"></i></a>
        <a href="#"><i my-id="<%=id%>" my-title="<%=$t.words.delete%>" class="fa fa-trash" id="delete-task"></i></a>
        <a href="#"><i my-id="<%=id%>" my-title="<%-task.status === 'ended' ? $t.messages.no_ended:$t.words.end%>" class="fa <%- task.status === 'ended' ? 'fa-check-double':'fa-check' %>" id="end-task"></i></a>
        <h1 id="task-task-title"><%=task.title%></h1>
        <div id="task-description-container">
            
            <p class="task-paragraph"><%=task.description%></p>
        </div>
        <div id="date-task-element">
            <span><%=task.date.split("-").join("/")%></span>
            <i class="fa fa-calendar"></i>
        </div>
    </div>
    <script src="scripts/appbar.js"></script>
    <script src="scripts/scripts.js"></script>
    <script src="scripts/task.js"></script>
</body>
</html>