<div id="menu">
  <a
    href="<%- active == 's-tasks' ? '#':'/tasks'%>"
    class="menu-section <%- active == 's-tasks' ? 'active':''%>"
    id="s-tasks"
    ><i class="fa fa-file icon"></i> <%=$t.menu.tasks%></a>
  <a
    href="<%- active == 's-new' ? '#':'/new'%>"
    class="menu-section <%- active == 's-new' ? 'active':''%>"
    id="s-new"
    ><i class="fa fa-plus icon"></i> <%=$t.menu.new_task%></a>
  <a 
    href="<%- active == 's-calendar' ? '#':'/calendar'%>"
    class="menu-section <%- active == 's-calendar' ? 'active':''%>"
    id="s-calendar"
    ><i class="fa fa-calendar icon"></i> <%=$t.menu.calendar%></a>
  <!-- <a
    href="<%- active == 's-search' ? '#':'/search'%>"
    class="menu-section <%- active == 's-search' ? 'active':''%>"
    id="s-search"
    ><i class="fa fa-search icon"></i> <%=$t.menu.search_task%></a> -->
  <a 
    href="<%- active == 's-config' ? '#':'/config'%>"
    class="menu-section <%- active == 's-config' ? 'active':''%>"
    id="s-config"
    ><i class="fa fa-gear icon"></i> <%=$t.menu.configurations%></a>
</div>
