<link rel="stylesheet" type="text/css" href="css/affairs.css">

<div id="affairs-container">
  <!-- aff quiere decir affairs osea "Asuntos" -->
  <h1 id="aff-title"><%=$t.titles.affairs%></h1>
  <div id="affair-toolbar">
    <div class="aff-toolbar-btn" my-title="<%=$t.buttons.new_affair%>" id="new-affair-btn">
      <i class="fa fa-plus"></i>
    </div>
    <div class="aff-toolbar-btn" my-title="<%=$t.buttons.search%>" id="search-affair">
      <i class="fa fa-search"></i>
    </div>
    <div class="aff-toolbar-btn" my-title="<%=$t.buttons.order_by_az%>" id="order_by_az">
      <i class="fa fa-arrow-up-a-z"></i>
    </div>
    <div class="aff-toolbar-btn" my-title="<%=$t.buttons.order_by_za%>" id="order_by_za">
      <i class="fa fa-arrow-down-a-z"></i>
    </div>
    <div class="aff-toolbar-btn" my-title="<%=$t.buttons.show_archives%>" id="show-archives-affair">
      <i class="fa fa-boxes-packing"></i>
    </div>
    <div class="aff-toolbar-btn" my-title="<%=$t.buttons.archive%>" id="archive-affair">
      <i class="fa fa-box-archive"></i>
    </div>
    <div class="aff-toolbar-btn-delete" my-title="<%=$t.buttons.delete_affair%>" id="delete-affair">
      <i class="fa fa-trash"></i>
    </div>
    <div id="affair-results-container">
      <i id="affair-prev-page" class="fa fa-angle-left"></i>
      <span id="affair-page">1</span>
      <i id="affair-next-page" class="fa fa-angle-right"></i>
      <select name="affair-quantity-results" id="affair-quantity-results">
        <option value="10" selected>10</option>
        <option value="20">20</option>
        <option value="50">50</option>
        <option value="100">100</option>
      </select>
    </div>
    <label><%=$t.words.show_results%></label>
  </div>
  <div id="affairs"></div>
  <%- include("../components/searchInputFixed") %>
  <div id="affair-content" class="animate__animated animate__fadeIn">
    <h1 id="affair-content-title"></h1>
    <div id="affair-content-close" class="fa fa-close"></div>
    <ul id="affair-list">
      <!-- <li style="--accent-color:#41516C">
        <div class="date">2002</div>
        <div class="title">Title 1</div>
        <div class="descr">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quas itaque hic quibusdam fugiat est numquam harum, accusamus suscipit consequatur laboriosam!</div>
      </li> -->
    </ul>
  </div>
</div>

<script src="scripts/affairs.js" type="module"></script>
